body {
  padding: 0;
  margin: 0;
  width: 100%;
  display: table;
}
fieldset
{
border: 1px solid #781351;
width: 20em
}

legend
{
color: #fff;
background: #ffa20c;
border: 1px solid #781351;
padding: 2px 15px
}
label
{
width: 4em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block
}

.submit input
{
margin-left: 4.5em;
} 
input.btn { 
	  color:#050; 
	  font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
	  background-color:#fed; 
	  border: 1px solid; 
  border-color: #696 #363 #363 #696; 
}

